@import "bootstrap";
@import "bootstrap/theme";
@import 'sticky.css.scss';

.yt_video {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  img {
    cursor: pointer;
    width: 100%;
    height: auto;
  }

  .glyphicon-thumbs-down {margin-left: 20px;}
}